<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

<div class="main">
    <div class="nav-bar">
        <a href="/dashboard" class="active">Dashboard</a>
        <a href="/monitor804" >Monitor 804</a>
        <a href="/daily" >Daily Report</a>
    </div>
    <div class="container"></div>
    <div class="grid-container">
        <!-- Generate 56 (7 columns * 8 rows) grid items -->
        <!-- Row 1 (Odd) -->
        <!-- <div class="grid-item odd-row">PQ/SS</div>
        <div class="grid-item odd-row">RDE</div>
        <div class="grid-item odd-row">ICP</div>
        <div class="grid-item odd-row">RFS</div>
        <div class="grid-item odd-row">V40</div>
        <div class="grid-item odd-row">V100</div>
        <div class="grid-item odd-row">FTIR</div> -->
        <!-- Row 2 (Even) -->
        <!-- <div class="grid-item even-row">8</div>
        <div class="grid-item even-row">9</div>
        <div class="grid-item even-row">10</div>
        <div class="grid-item even-row">11</div>
        <div class="grid-item even-row">12</div>
        <div class="grid-item even-row">13</div>
        <div class="grid-item even-row">14</div> -->
        <!-- Row 3 (Odd) -->
        <!-- <div class="grid-item odd-row">AN</div>
        <div class="grid-item odd-row">BN</div>
        <div class="grid-item odd-row">KF</div>
        <div class="grid-item odd-row">FUEL</div>
        <div class="grid-item odd-row">PC</div>
        <div class="grid-item odd-row">FERRO Lab</div>
        <div class="grid-item odd-row">i-pH</div> -->
        <!-- Row 4 (Even) -->
        <!-- <div class="grid-item even-row">22</div>
        <div class="grid-item even-row">23</div>
        <div class="grid-item even-row">24</div>
        <div class="grid-item even-row">25</div>
        <div class="grid-item even-row">26</div>
        <div class="grid-item even-row">27</div>
        <div class="grid-item even-row">28</div> -->
        <!-- Row 5 (Odd) -->
        <!-- <div class="grid-item odd-row">Gravimetric</div>
        <div class="grid-item odd-row">MPC</div>
        <div class="grid-item odd-row">RULER</div>
        <div class="grid-item odd-row">Foaming</div>
        <div class="grid-item odd-row">Air release</div>
        <div class="grid-item odd-row">Water Sep</div>
        <div class="grid-item odd-row">Copper Stip</div> -->
        <!-- Row 6 (Even) -->
        <!-- <div class="grid-item even-row">36</div>
        <div class="grid-item even-row">37</div>
        <div class="grid-item even-row">38</div>
        <div class="grid-item even-row">39</div>
        <div class="grid-item even-row">40</div>
        <div class="grid-item even-row">41</div>
        <div class="grid-item even-row">42</div> -->
        <!-- Row 7 (Odd) -->
        <!-- <div class="grid-item odd-row">RPVOT</div>
        <div class="grid-item odd-row">FIlterability</div>
        <div class="grid-item odd-row">Auto Ignition</div>
        <div class="grid-item odd-row">FlashPoint D92</div>
        <div class="grid-item odd-row">FlashPoint Close</div>
        <div class="grid-item odd-row">pH</div>
        <div class="grid-item odd-row">Reserve A</div> -->
        <!-- Row 8 (Even) -->
        <!-- <div class="grid-item even-row">50</div>
        <div class="grid-item even-row">51</div>
        <div class="grid-item even-row">52</div>
        <div class="grid-item even-row">53</div>
        <div class="grid-item even-row">54</div>
        <div class="grid-item even-row">55</div>
        <div class="grid-item even-row">56</div> -->
    </div>
</div>
</body>
<script src="{{url_for('static',filename = 'script.js')}}"></script>