<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main" style="border: 0px;margin-bottom: 0px;">
        
            <div class="nav-bar" >
                <a href="/dashboard" >Dashboard</a>
                <a href="/monitor804" class="active">Monitor 804</a>
            </div>
</div>
    <div class="table-container">
        <h1 style="margin:0px auto;">Monitor804 Lab</h1>
        <table id="data-table">
            <thead>
                <tr>
                    <th rowspan="2">Date</th>
                    <th rowspan="2">Input</th>
                    <th colspan="3" class ='hblue-background'>PQ/SS</th>
                    <th colspan="3" class ='hblue-background'>ICP</th>
                    <th colspan="3" class ='hblue-background'>RDE</th>
                    <th colspan="3" class ='hblue-background'>RFS</th>
                    <th colspan="3" class ='hyellow-background'>V40</th>
                    <th colspan="3" class ='hyellow-background'>V100</th>
                    <th colspan="3" class ='hyellow-background'>FTIR</th>
                    <th colspan="3" class ='hyellow-background'>AN</th>
                    <th colspan="3" class ='hyellow-background'>BN</th>
                    <th colspan="3" class ='hpurple-background'>KF</th>
                    <th colspan="3" class ='hpurple-background'>Fuel</th>
                    <th colspan="3" class ='hpurple-background'>PC</th>
                    <th rowspan="2">Output</th>
                

                </tr>
                <tr>
                    

                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>

                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>
                    
                    <th>Input</th>
                    <th>Output</th>
                    <th>Acc</th>

                </tr>
            </thead>
            <tbody>
                
                <!-- ข้อมูลจะถูกแทรกที่นี่ -->
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
